@import '../node_modules/react-table/react-table.css';

body {
	position: relative;
	height: 100vh;
	overflow-y: hidden;
	margin: 0px;
	font-family: Roboto, sans-serif;
}

body * {
	box-sizing: border-box;
}

#root {
	height: 100%;
}

#root > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.toolbar-header {
	text-transform: uppercase;
}

.ui-page, .ui-page-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.ui-page-content {
	padding: 10px 20px;
}

.ui-page-content--centered {
	justify-content: center;
	align-items: center;
}

.scheme {
	position: relative;
	min-width: 800px;
	max-width: 800px;
	min-height: 500px;
	max-height: 500px;
	border: 1px solid #7e7e7e;
}

.gild {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border: 1px solid #7e7e7e;
	border-radius: 8px;
}

.gild--ready {
	background-color: #88e188;
}

.gild--problem {
	background-color: #ff6666;
}

.gild--pending {
	background-color: #fff;
}