body {
	position: relative;
	height: 100vh;
	overflow-y: hidden;
	margin: 0px;
}

#root {
	height: 100%;
}

#root > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ui-page-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.ui-page-content--centered {
	justify-content: center;
	align-items: center;
}